{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}
    <hr>
{% endblock title %}

{% block content %}
    {% if item %}
        {{item.author}}
        <br>
        {{item.type}}
        <br>
        {{ item.title|currency }}
        <br>
        {{ item.date_time }}
        <br>
        {{ item.text|censor  }}
    <hr>
    {% if user_is_author %}
        <a class="nav-link" href="edit/">Редактировать</a>
        <a class="nav-link" href="delete/">Удалить</a>
    {% endif %}
    request user - {{request.user}}


    {% endif%}
{% endblock content %}